---
kubeProxyReplacement: {{ cilium_kube_proxy_replacement }}
{% if cilium_kube_proxy_healtz_address is defined %}
kubeProxyReplacementHealthzBindAddr: {{ cilium_kube_proxy_healtz_address }}
{% endif %}

{% if cilium_operator_configuration is defined %}
operator: {{ cilium_operator_configuration }}
{% endif %}

k8sServiceHost: {{ cilium_k8s_service_host }}
k8sServicePort: {{ cilium_k8s_service_port }}

{% if cilium_ipam_configuration is defined %}
ipam: {{ cilium_ipam_configuration }}
{% endif %}

{% if cilium_bpf_configuration is defined %}
bpf: {{ cilium_bpf_configuration }}
{% endif %}

ipv4:
  enabled: {{ cilium_enable_ipv4 }}
ipv6:
  enabled: {{ cilium_enable_ipv6 }}

routingMode: {{ cilium_routing_mode }}
{% if cilium_routing_mode == 'native' %}
tunnelProtocol: ''
{% elif cilium_routing_mode != 'native' %}
tunnelProtocol: {{ cilium_tunnel_protocol }}
{% endif %}

enableIPv4Masquerade: {{ cilium_enable_ipv4_masq }}
enableIPv6Masquerade: {{ cilium_enable_ipv6_masq }}

{% if cilium_routing_mode == 'native' and cilium_ipv4_native_cidr is defined %}
ipv4NativeRoutingCIDR: {{ cilium_ipv4_native_cidr }}
{% endif %}
{% if cilium_routing_mode == 'native' and cilium_ipv6_native_cidr is defined %}
ipv6NativeRoutingCIDR: {{ cilium_ipv6_native_cidr }}
{% endif %}
{% if cilium_autodirect_node_routes is defined %}
autoDirectNodeRoutes: {{ cilium_autodirect_node_routes }}
{% endif %}

{% if cilium_load_balancer_config is defined %}
loadBalancer: {{ cilium_load_balancer_config }}
{% endif %}

{% if cilium_maglev_config != None %}
{{ cilium_maglev_config | to_nice_yaml }}
{% endif %}

l7Proxy: {{ cilium_l7_proxy }}

{% if cilium_bgp_control_plane_config != None %}
{{ cilium_bgp_control_plane_config | to_nice_yaml }}
{% endif %}

{% if cilium_ingress_controler_config != None %}
{{ cilium_ingress_controler_config | to_nice_yaml }}
{% endif %}

{% if cilium_gateway_api_config != None %}
{{ cilium_gateway_api_config | to_nice_yaml }}
{% endif %}

{% if cilium_additional_options != None %}
{{ cilium_additional_options | to_nice_yaml }}
{% endif %}